.root-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #2c3e50;
    padding: 0; 
    box-sizing: border-box;
  }
  
  main {
    flex: 1;
    padding: 0px;
    margin: 0;
  }
  
  footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    margin-top: auto;
  }
  
  footer p {
    margin: 0; 
  }

  